:root {
  --primary-text-color: rgba(235, 0, 221, 0.8);
  --titile-text-color: #eb00dd;
  --accent-text-color: #ffa438;
}
body {
  background-color: #130d30;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--primary-text-color);
}
a {
  text-decoration: none;
}
p {
  font-size: 19px;
}
.list {
  list-style: none;
}
/*header*/
.logo {
  color: var(--accent-text-color);
}
.main-nav .link {
  color: var(--primary-text-color);
}
.main-nav .link:hover,
.main-nav .link:focus {
  color: var(--accent-text-color);
}
/*hero*/
.hero-title {
  color: var(--titile-text-color);
}
/* section*/
.section-title {
  color: var(--titile-text-color);
}
.features .title {
  color: var(--titile-text-color);
}
.features .link {
  color: var(--accent-text-color);
}
