/*site colors
bg color #130d30
2nd bg color #230646;
titile text color #eb00dd
other text color rgba(235, 0, 221, 0.8)
accent color #ffa438
*/

/*font-family
font-family: 'Iceland', cursive;
font-family: 'Press Start 2P', cursive;
*/

/*block-model*/

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  outline: 1px solid red;
}
:root {
  --primary-text-color: rgba(235, 0, 221, 0.8);
  --titile-text-color: #eb00dd;
  --accent-text-color: #ffa438;
  --primary-bg-color: #130d30;
  --seconary-bg-color: #230646;
}
/*body style and elements*/
body {
  margin: 0;
  background-color: black;
  font-family: 'Iceland', cursive;
  font-size: 30px;
  color: var(--primary-text-color);
  letter-spacing: -0.015em;
}
h1,h2,h3,h4{
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
  font-size: 30px;
  line-height: 1.2em;
}
ul {
   padding-inline-start: 0;
   margin:0%
   }
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  background-color: var(--primary-bg-color);
  width:1440px;
  margin:0 auto;
  padding: 0 20px;
}
.container.padding
{padding-top: 3opx;
padding-bottom: 30px;
}

/*header*/
.page-header{
  background-color: var(--primary-bg-color);
}
.navigation {
  width:1440px;
  padding:0 20px;
  margin: 0 auto;
  display: flex;
  
  align-self:center;
  height: 100px;
}
.logotype {
  display: flex;
  align-items: center;
}
.logoimage {
  display: block;
  }
a.logo {
  display: inline-block;
  color: var(--accent-text-color);
  font-family: 'Press Start 2P', cursive;
  font-size: 25px;
  line-height: 1.6em;
  text-transform: uppercase;
}
.main-nav {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  margin-left: auto;
}
li.linkbox {
  padding:0px
}
.main-nav .link-box + .link-box{
  margin-left: 10px;
}
.main-nav .link {
  display: block;
  min-width: 180px;
  padding: 5px;
  border-radius: 6px;
  color: var(--primary-text-color);
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
}
.main-nav .link:hover,
.main-nav .link:focus {
  color: var(--accent-text-color);
}
.main-nav .link.current {
  color: var(--accent-text-color);
}
.auth-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
}
.auth-nav .link-box + .link-box {
  margin-left: 10px;
}
.auth-nav .button{
  min-width: 120px;
}
.button {
display:inline-block;
color: var(--titile-text-color);
background-color: var(--primary-bg-color);
line-height: 1.2em;
text-transform: uppercase;
text-align: center;
padding: 5px;
border:1px solid transparent;
border-radius: 6px;
}
.button.primary {
  color: var(--primary-bg-color);
  background-color: var(--accent-text-color);
}
.button.second {
  color: var(--accent-text-color);
  background-color: var(--primary-bg-color);
  border-color:  #ffa438;
}
/*hero*/
.hero{
  text-align: center;
}
h1.hero-title {
  margin-bottom: 40px;
   font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
}
/* section*/

.section{
  padding-top: 100px;

  
}
.section.no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}
.section-title {
  margin:0 0 60px 0;
  color: var(--titile-text-color);
  font-weight: 700;
  font-size: 48px;
  line-height: 1.5em;
  text-align: center;
  text-transform: uppercase;
}
.section-description{
  margin-bottom: 60px;
  font-size: 48px;
}
.features {
  display: flex;
  flex-wrap: wrap;
}
.features .item 
{
  width: 640px;
  margin-bottom:60px;
}
.features .item:nth-child(even){
  margin-left: auto;
}


.features .title {
  margin-bottom: 24px;
  color: var(--titile-text-color);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: left;
}
.features p{
 margin-bottom: 32px;
}
.dovetypes .list{
  display: flex;
 
}
.dovetypes .title {
  margin-bottom: 24px;
  color: var(--titile-text-color);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2em;
  text-transform: uppercase;
}
.dovetypes p{
 margin-bottom: 32px;
}
.dovetypes > .item
{
  align-items: center;
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--primary-bg-color);
}
.dovetypes > .item:nth-child(2n){
  flex-direction: row-reverse;
  background: var(--seconary-bg-color);
}
.dovetypes > .item:nth-child(2n) .content {
  margin-right: 100px;
}
.dovetypes > .item:nth-child(2n+1) .content {
  margin-left: 100px;
  
}
.merch {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
.merch .item
 {width: 250px;
margin: 25px;
}
.buy-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buysection {
  display:flex;
  justify-content: center;
}
/*footer*/
.page-footer {
  background-color: var(--primary-bg-color);
}
.fnavigation {
  width:1440px;
  padding:0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-self:center;
  height: 100px;
}
.social-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 450px;
}


.footer-nav .link {
  font-size: 30px;
  display: block;
  min-width: 100px;
  padding: 1px;
  color: var(--primary-text-color);
  line-height: 1.2em;
  text-align: center;
}
.footer-nav .link-box + .link-box{
  margin-left: 10px;
}
.copyright
{
  display: flex;
  align-items: center;
  min-width: 450px;
  text-align: center;
}
/*Tools*/
.left
{text-align: left;}